    html {
        scroll-behavior: smooth;
    }
    
    body {
        padding: 0 10% 0;
    }
    
    .title_one {
        color: slateblue;
    }
    
    .imeges {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu_home {
        padding-left: 30%;
    }
    
    .menu_home_link {
        color: #97550a;
        font-size: large;
    }
    
    .menu_home_link:hover {
        text-decoration: underline;
    }
    
    .podmenu_home_link:hover,
    .menu_back li a:hover,
    .menu_J_M a:hover,
    .menu_R_S a:hover,
    .solo:hover {
        font-weight: bold;
    }
    
    .podmenu_home_link {
        color: hsl(32, 89%, 14%);
        font-size: small;
    }
    
    .solo_menu {
        color: tomato;
    }
    
    .menu_home_link,
    .podmenu_home_link,
    .solo,
    .menu_J_M a,
    .menu_R_S a {
        text-decoration: none;
    }
    
    .solo,
    .menu_J_M a,
    .menu_R_S a {
        color: #97550a;
    }
    /*biography*/
    
    .title_second,
    .title_one {
        background: #e4d2d2;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .title_second {
        color: #211958;
    }
    
    .menu_back li {
        display: inline-block;
    }
    
    .menu_back {
        display: flex;
        justify-content: space-between;
    }